@import 'nav';
@import 'globalVars';//Global Vars

// // Backgrounds
$overlayImage: url('../media/icons/custom/bg0.svg'); // Replace with the actual path to your SVG image

.buttonSidePanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 69px;
  //top: 169px;
  height: auto;
  margin: 0;
  padding: 0;
  flex-wrap: revert;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;

  p {
    padding-left: 0.2em;
  }

  button {
    overflow: hidden;
    display: flex;
  }

  .btn {
    width: 100%;
    margin: 5px 0;
    /* Adjust spacing between buttons */
    padding: 10px;
    //border: none;
    //background-color: $primaryLight;
    height: inherit;
    cursor: pointer;

    figure {
      margin: 0 0 0rem;
      pointer-events: none;
      //display: none;
      //background-image: url("../assets/media/icons/custom/bg1.svg");
    }

    img {
      //display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -5; // Ensure the image is behind the text
    }
  }
}

.load-hidden {
  color: white;
}

.svg_divider::before {
  content: '';
  position: absolute;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  transform: scale(3);
  transform-origin: 100% 100%;
  animation: 41s infinite alternate shape-anim-6409 linear;
  background-size: 100% 157px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  z-index: 3;
  pointer-events: none;
  background-image: url('../media/dividers/divider0.svg');
}

.noPaddingTop {
  padding-top: 0 !important;
}

.minHeightFullPage {
  min-height: 100vh;
}

@media (min-width:2100px) {
  .sectionBorderTopMask::before {
    height: $borderBackgroundHeight;
    background-size: $borderBackgroundSize;
  }
  .sectionBorderTop::before {
    height: $borderBackgroundHeight;
    background-size: $borderBackgroundSize;
  }
  .sectionBorderTopAlt::before {
    height: $borderBackgroundHeight;
    background-size: $borderBackgroundSize;
  }
  .sectionBorderBottom::before {
    height: $borderBackgroundHeight;
    background-size: $borderBackgroundSize;
  }
  .sectionBorderBottomAlt::before {
    height: $borderBackgroundHeight;
    background-size: $borderBackgroundSize;
  }
}
@media (max-width:1200px) {
  .halfHero {
    height: auto;
  }
}



//   __              _ _            _____                     
//  |  |   ___ ___ _| |_|___ ___   |   __|___ ___ ___ ___ ___ 
//  |  |__| . | .'| . | |   | . |  |__   |  _|  _| -_| -_|   |
//  |_____|___|__,|___|_|_|_|_  |  |_____|___|_| |___|___|_|_|
//                          |___|                             

.dark #loadingScreen {
  background-color: $backgroundDark;

}

#loadingScreen {
  #loadingBack {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    background-image: url('https://raw.githack.com/Denchyaknow/GitSite_Dencho/Develop/assets/media/backgrounds/Flask.svg');
    //background-size: cover 50 50; // Adjust based on your design needs
    background-size: 20% auto; // Scale the background to 150% of its original size while maintaining aspect ratio
    background-position: center;
    background-repeat: no-repeat; // Adjust if you want the image to repeat
    display: flex;
    justify-content: center;
    align-items: center;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backgroundLight;
  background-size: cover; // Adjust based on your design needs
  background-position: center;
  background-repeat: repeat; // Adjust if you want the image to repeat
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.5s ease, visibility 0.25s;
  opacity: 1;
  visibility: visible;
  svg {
    animation: spin 2s linear infinite;
    color: $primaryLight;
    
  }

  @keyframes spin {
    0% { 
      transform: rotate(0deg); 
    }
    100% { 
      transform: rotate(360deg); 
    }
  }
}

#loadingScreen.hidden {
  opacity: 0;
  visibility: hidden;
}


//   _____ _                    _____                 _   _         
//  |_   _| |_ ___ _____ ___   |     |_ _ ___ ___ ___|_|_| |___ ___ 
//    | | |   | -_|     | -_|  |  |  | | | -_|  _|  _| | . | -_|_ -|
//    |_| |_|_|___|_|_|_|___|  |_____|\_/|___|_| |_| |_|___|___|___|                                                      

.home-section-bg {
  z-index: $layerIndex_HomeBackground;
}
.home-section {
  z-index: $layerIndex_HomeSection;
  padding-top: 6vh;
  padding-right: 0px;
  padding-bottom: 6vh;
  padding-left: 0px;
}

//ABOUT -Blur any row elements with a video background
.wg-about-biography .row {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 33px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: $backDropBlurFilter;
  -webkit-backdrop-filter: blur(10px);
  border: $borderStyleLight;
  margin-bottom: 2em;
}
// Dark mode styling
.dark .wg-about-biography .row {
  background: #00000066;
  border: $borderStyleDark;
  box-shadow: 0 4px 30px #00000080;
}

//ABOUT -For the exp.card section in the about page
.wg-experience {
  .card {
    background-color: $cardBackgroundLight;
  }
}
.dark .wg-experience {
  .card {
    background-color: $cardBackgroundDark;
  }
}

//Make webms expand to cover the card
.view-card {
  video {
    object-fit: cover;
  }
}
//Everything buttons
.dark .btn {
  background-color: $primaryDark;

  &:before {
    background: linear-gradient(45deg, transparent, $menuTextActiveDark, transparent);
  }

  &:hover {
    background-color: $linkHoverDark;
    border: 2px solid $linkHoverLight;

    &:before {
      opacity: 1;
    }
  }
}
.btn {
  background-color: $primaryLight;

  &:before {
    content: "";
    position: absolute;
    background: linear-gradient(45deg, transparent, $menuTextActiveLight, transparent);

  }

  &:hover {
    transform: scale(1.2);
    background-color: $linkHoverLight;
    border: 2px solid $linkHoverDark;

    &:before {
      opacity: 1;
    }
  }
}


p {
  color: $menuTextLight;
}
.dark p {
  color: $menuTextDark;
}
strong {
  color: $menuTextLight;
}
.dark strong {
  color: $menuTextDark;
}
h1 {
  color: $menuTitleLight;
}
.dark h1 {
  color: $menuTitleDark;
}

//ABOUT -Titles under about section
.portrait-title h2 {
  color: $menuTitleLight;
}
.dark .portrait-title h2 {
  color: $menuTitleDark;
}
.portrait-title h3 {
  color: $menuTitleLight;
}
.dark .portrait-title h3 {
  color: $menuTitleDark;
}

//SKILLS -Text in this section
.skill-group-title {
  color: $menuTitleLight;
}
.dark .skill-group-title {
  color: $menuTitleDark;
}
.skills-name {
  color: $menuTitleLight;
  .skills-description {
    color: $menuTextLight;
  }
}
.dark .skills-name {
  color: $menuTitleDark;
  .skills-description {
    color: $menuTextDark;
  }
}

//ScrollBar stuff
/* Hide the scrollbar by default */
body::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}
/* The scrollbar track (background) */
body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
  border-radius: 10px;
}
/* The scrollbar thumb (the moving part) */
body::-webkit-scrollbar-thumb {
  background: #888; /* Dark grey color */
  border-radius: 10px;
}
/* The scrollbar thumb when hovered */
body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Slightly darker grey */
}


//   _____         _   _            _____ _       _         
//  |   __|___ ___| |_|_|___ ___   |   __| |_ _ _| |___ ___ 
//  |__   | -_|  _|  _| | . |   |  |__   |  _| | | | -_|_ -|
//  |_____|___|___|_| |_|___|_|_|  |_____|_| |_  |_|___|___|
//                                           |___|          

// .typedTitle0 {

// }
// .typedTitle1 {

// }
.heroTitleText {
  position: absolute;
  bottom: 4rem; // Anchor the text to the bottom with some padding
  padding: 1rem;
  max-width: 90%; // Ensure the text doesn't stretch too wide
  text-align: center;

  span {
    font-size: 2rem; // Adjust the size as needed

  }
  .typedTitle0 {
    position: relative;
    //position: absolute;
    text-align: center;
    //padding: 1rem;
    //background: rgba(0, 0, 0, 0.5); // Add a semi-transparent background for readability
    //border-radius: 8px; // Add some rounded corners for style
    font-size: 2rem; // Adjust the size as needed
    font-weight: light; // Make it stand out
    z-index: 10; // Ensure it sits above other elements
  }
  .typedTitle1 {
    //position: absolute;
    //bottom: 2rem; // Anchor the text to the bottom with some padding
    text-align: center;
    //max-width: 90%; // Ensure the text doesn't stretch too wide
    //background: rgba(0, 0, 0, 0.5); // Add a semi-transparent background for readability
    //border-radius: 8px; // Add some rounded corners for style
    font-size: 2rem; // Adjust the size as needed
    font-weight: light; // Make it stand out
    z-index: 10; // Ensure it sits above other elements
  }
}

//Height Helpers
.fullHero {
  height: $fullSectionHeight;
}
.halfHero {
  min-height: $halfSectionHeight;
}

//Add to a Section with a video background to add a cover to it
.commonVideoSection {
  position: relative;
}
//Common Video Section gives sections with video background a cover relative to light/dark mode
.dark .commonVideoSection {
  &::after {
    background-color: $coverBackgroundDark;
  }
}


.commonVideoSection .home-section-bg {
  .bg-video {
    z-index: $layerIndex_BackgroundVideo;
  }
  
  //Put a cover image over the background
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $coverBackgroundLight;//rgba(255, 0, 0, 0.473);//$coverBackgroundLight;
    object-fit: cover;
    z-index: $layerIndex_BackgroundCover; // Ensure it appears behind the content
    pointer-events: none;
  }
}
//Dark mode compatibility for the background of sections
.dark .commonVideoSection .home-section-bg {
  &::after {
    background-color: $coverBackgroundDark;
  }
}



.sectionBorderTopMask {
  top: -10vh;
  background: transparent !important;
  overflow: hidden;
  position: relative;
  pointer-events: none;
  display: block; // Ensure it takes full width
  width: 100%;
}

.dark .sectionBorderTopMask::before {
  background-image: $svgBorderTopDark;
}

.sectionBorderTopMask::before {
  content: '';
  position: absolute;
  z-index: -1;
  pointer-events: none;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%) scaleX(4); // Center horizontally and scale
  transform-origin: center; // Scale from the center
  animation: $borderAnimation; // Optional animation
  height: $borderBackgroundHeight;
  width: 100vw; // Ensure it spans more than the viewport width
  background-size: $borderBackgroundSize;
  background-position: 20% 100%;
  background-image: $svgBorderTopLight;
}

//SVG Border stuff
// //Mask Border is for overlapping previous or next section content
// .sectionBorderTopMask {
//   top: -10vh;
//   background: transparent !important;
//   overflow: hidden;
//   position: relative;
//   pointer-events: none;
//   display: inline;
// }
// //SVG image for hero bottom border

// .dark .sectionBorderTopMask::before {
//   background-image: $svgBorderTopDark;
  
// }
// .sectionBorderTopMask::before {
//   content: '';
//   position: absolute;
//   z-index: -1;
//   pointer-events: none;
//   background-repeat: no-repeat;
//   //bottom: -0.1vw;
//   left: -0.1vw;
//   right: -0.1vw;
//   transform: scaleX(4);//3.1);
//   transform-origin: 100% 100%;
//   animation: $borderAnimation;//4s infinite alternate sectionBorderAnime linear;
//   height: $borderBackgroundHeight;
//   background-size: $borderBackgroundSize;
//   // height: auto;//$borderHeight;
//   // background-size: 100% $borderHeight;
//   background-position: 20% 100%;
//   background-image: $svgBorderTopLight;
// }
//Normal Border Parts
// .sectionBorderTop {
//   bottom: -2px;
//   background: transparent !important;
//   overflow: hidden;
//   position: relative;
// }
// //General seperator top border
// .dark .sectionBorderTop::before {
//   background-image: $svgBorderTopLight;

// }
// .sectionBorderTop::before {
//   content: '';
//   font-family: 'shape divider from ShapeDividers.com';
//   position: absolute;
//   z-index: 3;
//   pointer-events: none;
//   background-repeat: no-repeat;
//   bottom: -0.1vw;
//   left: -0.1vw;
//   right: -0.1vw;
//   //top: -0.1vw;
//   transform: scaleX(4);
//   transform-origin: 100% 100%;
//   animation: $borderAnimation;
//   height: $borderBackgroundHeight;
//   background-size: $borderBackgroundSize;
//   background-position: 20% 100%;
//   background-image: $svgBorderTopDark;
// }
// //Can be used to fill in a markdown section as the middle part of a seperator
// .dark .sectionBorderMid {
//   background-color: $backgroundLight !important;
// }
// .sectionBorderMid {
//   display: block;
//   position: relative;
//   bottom: 0;
//   left: 0;
//   object-fit: cover;
//   object-position: center center;
//   height: 40vh;
//   z-index: -5;
//   background-color: $backgroundDark !important;
// }

// .dark .sectionBorderBottom::before {
//   background-image: $svgBorderBottomLight;

// }
// .sectionBorderBottom {
//   top: -2px;
//   background: transparent !important;
//   overflow: hidden;
//   position: relative;
// }

// .sectionBorderBottom::before {
//   content: '';
//   font-family: 'shape divider from ShapeDividers.com';
//   position: absolute;
//   z-index: 3;
//   pointer-events: none;
//   background-repeat: no-repeat;
//   bottom: -0.1vw;
//   left: -0.1vw;
//   right: -0.1vw;
//   top: -0.1vw;
//   animation: $borderAnimation;
//   transform: scaleX(4);
//   transform-origin: 100% 0;
//   height: $borderBackgroundHeight;
//   background-size: $borderBackgroundSize;
//   background-position: 80% 0%;  
//   background-repeat: no-repeat;
//   background-image: $svgBorderBottomDark;// fill(cyan);
// }

// .dark .sectionBorderTopAlt::before {
//   background-image: $svgBorderTopDark;
// }
// .sectionBorderTopAlt::before {
//   content: '';
//   font-family: 'shape divider from ShapeDividers.com';
//   position: absolute;
//   z-index: 3;
//   pointer-events: none;
//   background-repeat: no-repeat;
//   bottom: -0.1vw;
//   left: -0.1vw;
//   right: -0.1vw;
//   top: -0.1vw;
//   transform: scaleX(3.1);
//   transform-origin: 100% 100%;
//   animation: 4s infinite alternate sectionBorderAnime linear;
//   background-size: 100% 99px;
//   background-position: 50% 100%;
//   background-image: $svgBorderTopLight;
// }

// .dark .sectionBorderMidAlt {
//   background-color: $backgroundDark !important;
// }
// .sectionBorderMidAlt {
//   display: block;
//   position: relative;
//   bottom: 0;
//   left: 0;
//   object-fit: cover;
//   object-position: center center;
//   height: 40vh;
//   z-index: -5;
//   background-color: $backgroundLight !important;
// }

// .dark .sectionBorderBottomAlt::before {
//   background-image: $svgBorderBottomDark;
// }
// .sectionBorderBottomAlt::before {
//   content: '';
//   font-family: 'shape divider from ShapeDividers.com';
//   position: absolute;
//   z-index: 3;
//   pointer-events: none;
//   background-repeat: no-repeat;
//   bottom: -0.1vw;
//   left: -0.1vw;
//   right: -0.1vw;
//   top: -0.1vw;
//   animation: 4s infinite alternate sectionBorderAnime linear;
//   transform: scaleX(3.1);
//   transform-origin: 100% 0;
//   background-size: 100% 99px;
//   background-position: 50% 0%;  
//   background-repeat: no-repeat;
//   background-image: $svgBorderBottomLight;
// }


//   _____ _           _      _____             
//  |  _  | |_ ___ _ _| |_   |  _  |___ ___ ___ 
//  |     | . | . | | |  _|  |   __| .'| . | -_|
//  |__|__|___|___|___|_|    |__|  |__,|_  |___|



.dark .aboutDividerSection {
  &::after {
    background: linear-gradient(0deg, $backgroundDark, $coverBackgroundDark); // Gradient background
  }
}

//Add to a Section with a vidoe background to add a cover to it
.aboutDividerSection {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: -50%;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, $backgroundLight, $coverBackgroundLight); // Gradient background
    object-fit: cover;
    filter: blur(10px); // Blur effect
    z-index: -1; // Ensure it appears behind the content
  }
}

//   _____     _ _            _____         _   _             
//  |   __|___| |_|___ ___   |   __|___ ___| |_|_|___ ___ ___ 
//  |__   | . | | |   | -_|  |__   | -_|  _|  _| | . |   |_ -|
//  |_____|  _|_|_|_|_|___|  |_____|___|___|_| |_|___|_|_|___|
//        |_|                                                 

.spline_hero {
  height: 90vh;
}

//Spline frames used as a Cover or Overlay for a Hero or section
.splineNoCover {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
  z-index: $layerIndex_SplineObject;
}
//Dark mode
.dark .splineWithCover {
  &::after {
    background-color: $coverBackgroundDark;
  }
}
//Spline frames used as a Cover or Overlay for a Hero or section
.splineWithCover {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
  z-index: $layerIndex_SplineObject;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $coverBackgroundLight;
    object-fit: cover;
    z-index: $layerIndex_BackgroundCover; // Ensure it appears behind the content
    pointer-events: none;
  }
}




//Spline frames used as a Cover or Overlay for a Hero or section
.spline_cover {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
  //background-color: $coverBackgroundLight;
  z-index: $layerIndex_BackgroundCover;
}

//Dark mode
.dark .spline_cover {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
  //background-color: $coverBackgroundDark;
  z-index: -4;
}

//Spline frame used as a Section other than Hero
.spline_section {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
  height: 40vh;
  //background-color: $coverBackgroundLight;
  z-index: -5;
}

//Dark mode
.dark .spline_section {
  //background-color: $coverBackgroundDark;
}

.spline_markdown {
  display: block;
  height: 40vh;
  width: 100%;

  .container {
    top: 0;
    position: absolute;
    max-width: 100vw !important;
    margin-left: 0;
    margin-right: 0;

    .row {
      .col-12 {
        padding-left: 0;
        padding-right: 0;
      }
    }

  }
}


.spline_divider {
  display: block;
  height: 20vh;
  width: 100%;

  .container {
    top: 0;
    position: absolute;
    max-width: 100vw !important;
    margin-left: 0;
    margin-right: 0;

    .row {
      .col-12 {
        padding-left: 0;
        padding-right: 0;

        .spline_section {
          display: block;
          position: relative;
          top: -5vh;
          left: 0;
          object-fit: cover;
          object-position: center center;
          height: 10vh;
          pointer-events: none;
          //background-color: $coverBackgroundLight;
          z-index: 0;
        }
      }
    }

  }
}














.dark .video_cover {
  background-color: $coverBackgroundDark;
}

.video_cover {
  width: 100%;
  position: absolute;
  top: 0vw;
  left: 0;
  object-fit: cover;
  object-position: center center;
  height: 100%;
  background-color: $coverBackgroundLight;

  //background-color: $coverBackground;
  //background-image: $overlayImage;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -4;
}

//For particle on hero
#particles-js {
  width: 100% !important;
  height: 100% !important;
  background-color: none;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  z-index: -60;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}



// .background {
//   position: absolute;
//   display: block;
//   top: 0;
//   left: 0;
//   z-index: -20;
// }
// .transparent {
//   z-index: -50;
//   height: 40vw;
//   background: none!important;
//   background-color: #DFDBE5;
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
// }
// .transparentcover {
//   z-index: 50;
//   height: 40vw;
//   background: none!important;
//   background-color: #DFDBE5;
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
// }
// .circuitbackground{
//   background-color: #4a4353;
// background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%238eb8e5' fill-opacity='1' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
// }




// //Section shit

// .compbackground {
//   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-90/animated-svg-bg.svg)!important;
//   background-size: cover!important;
//   background-repeat: no-repeat;
//   height: calc(20vw + 30vh);
//   background-repeat: no-repeat;
//   margin-bottom: -150px;
//   margin-top: -150px;
//   z-index: -55;
// }
// .compbackground::after {
//   content: "";
//   position: absolute;
//   top: 100%;
//   left: 0;
//   height: 20px;
//   width: 100%;
//   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/rip.svg) bottom center;
//   background-size: 150%;
// }

// //CodeStats
// .codestats_block {
//   width: 80vw;
//   display:block;
//   margin-left: auto;
//   margin-right: auto;
//   //flex-flow: column wrap;
// }
// .codestats_top {
//   margin-left: auto;
//   margin-right: auto;
// }
// .codestats_bottom {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   align-items: flex-start;
//   justify-content: center;
//   align-content: space-between;
// }
// .codestats_most{
//   flex-basis: 50%;
// }
// .codestats_latest {
//   flex-basis: 50%;
// }
// @media (min-width:1000px) {
//   .codestats_bottom {

//   }
//   .codestats_most{
//     flex-basis: 50%;
//   }
//   .codestats_latest {
//     flex-basis: 50%;
//   }
// }

// //Section Dividers

// //Stats section
// .stats_body{
//   background: $sectionBackground!important;
// }

// .stats_top {
//   bottom:-2px;
//   background: $clearBackground!important;
//   overflow:hidden;
//   position:relative;
//   }
//   .stats_top::before{ 
//   content:'';
//   font-family:'shape divider from ShapeDividers.com';
//   position: absolute;
//   z-index: 3;
//   pointer-events: none;
//   background-repeat: no-repeat;
//   bottom: -0.1vw;
//   left: -0.1vw;
//   right: -0.1vw;
//   top: -0.1vw; 
//   transform:scaleX(3.1);
//   transform-origin: 100% 100%;
//   animation: 4s infinite alternate stats_top_anime  linear;
//   background-size: 100% 99px;
//   background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23442b48"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23442b48"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23442b48"/></svg>'); 
//   }

//   @media (min-width:2100px){
//     .stats_top::before{
//       background-size: 100% calc(2vw + 99px);
//     }
//   }

//   @keyframes stats_top_anime {
//     100% {
//       transform: scaleX(3.1) translateX(calc(100% - (100% / 3.1)));
//     }
//   }

// .stats_bottom {
//   top: -2px;
//   background: $clearBackground!important;
//   overflow:hidden;
//   position:relative;
//   }

//   .stats_bottom::before { 
//   content:'';
//   font-family:'shape divider from ShapeDividers.com';
//   position: absolute;
//   z-index: 3;
//   pointer-events: none;
//   background-repeat: no-repeat;
//   bottom: -0.1vw;
//   left: -0.1vw;
//   right: -0.1vw;
//   top: -0.1vw; 
//   transform:scaleX(3.1);
//   transform-origin: 100% 0;
//   animation: 4s infinite alternate stats_bottom_anime  linear;
//   background-size: 100% 99px;
//   background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23442b48"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23442b48"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23442b48"/></svg>'); 
//   }

//   @media (min-width:2100px){
//     .stats_bottom::before{
//       background-size: 100% calc(2vw + 99px);
//     }
//   }

//   @keyframes stats_bottom_anime {
//     100% {
//       transform: scaleX(3.1) translateX(calc(100% - (100% / 3.1)));
//     }
//   }


// //Skills section

// .skills_body{
//   background: $sectionBackground!important;
// }

// .skills_top {
//   bottom:-2px;
//   background: $clearBackground!important;
//   overflow:hidden;
//   position:relative;
//   }
//   .skills_top::before{ 
//   content:'';
//   font-family:'shape divider from ShapeDividers.com';
//   position: absolute;
//   z-index: 3;
//   pointer-events: none;
//   background-repeat: no-repeat;
//   bottom: -0.1vw;
//   left: -0.1vw;
//   right: -0.1vw;
//   top: -0.1vw; 
//   transform:scaleX(3.1);
//   transform-origin: 100% 100%;
//   animation: 4s infinite alternate skills_top_anime  linear;
//   background-size: 100% 99px;
//   background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23442b48"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23442b48"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23442b48"/></svg>'); 
//   }

//   @media (min-width:2100px){
//     .skills_top::before{
//       background-size: 100% calc(2vw + 99px);
//     }
//   }

//   @keyframes skills_top_anime {
//     100% {
//       transform: scaleX(3.1) translateX(calc(100% - (100% / 3.1)));
//     }
//   }


// .skills_bottom {
//   top: -2px;
//   background: $clearBackground!important;
//   overflow:hidden;
//   position:relative;
//   }

//   .skills_bottom::before { 
//   content:'';
//   font-family:'shape divider from ShapeDividers.com';
//   position: absolute;
//   z-index: 3;
//   pointer-events: none;
//   background-repeat: no-repeat;
//   bottom: -0.1vw;
//   left: -0.1vw;
//   right: -0.1vw;
//   top: -0.1vw; 
//   transform:scaleX(3.1);
//   transform-origin: 100% 0;
//   animation: 4s infinite alternate skills_bottom_anime  linear;
//   background-size: 100% 99px;
//   background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23442b48"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23442b48"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23442b48"/></svg>'); 
//   }

//   @media (min-width:2100px){
//     .skills_bottom::before{
//       background-size: 100% calc(2vw + 99px);
//     }
//   }

//   @keyframes skills_bottom_anime {
//     100% {
//       transform: scaleX(3.1) translateX(calc(100% - (100% / 3.1)));
//     }
//   }

// //Projects Section
// .projects_body{
//   background: $sectionBackground!important;
// }