<script>    
    
    ScrollReveal({ reset: true });

    var nodeList = document.querySelectorAll('.reButton');
    console.log(nodeList.length + ' reButtons found.');
    ScrollReveal().reveal(nodeList, { interval: 250 });
    // ScrollReveal().reveal(nodeList);
    // var nodeArray = [
        //     document.querySelector('.reButton'),
    //     document.querySelector('#spoon'),
    //     document.querySelector('#ice-cream')
    // ];
    
    //var node = document.querySelector('.reButton');



    //ScrollReveal().reveal(nodeArray);
    //Broke this
</script>