<script>
    //This is where I initialize all my typed text elements
    var typed = new Typed('.typedTitle0', {
      strings: ['<i>First</i> sentence.', '&amp; a second sentence.'],
      typeSpeed: 50,
    });
    var heroText = new Typed('.typedTitle1', {
      strings: [
        'Hi, I\'m <strong>Dencho</strong>,', 
      '2 Some <strong>HTML</strong>', 
      '3 Chars &times; &copy;'
    ],
      typeSpeed: 0,
      backSpeed: 0,
      cursorChar: '',
      shuffle: true,
      smartBackspace: false,
      loop: true
    });
</script>