<script>
    /**
     * 
     * @param {string} _textName - The ID of the text element to be typed
     * @param {number} _startDelay - The delay before typing starts
     * @param {boolean} _showCursor - Whether or not to show the cursor
     * @param {boolean} _resetReveal - Whether or not to reset the reveal
     * @param {boolean} _loop - Whether or not to loop the text
     * @param {string} _cursor - The cursor character
     */
    function SetTypedTextById(_textName, { _startDelay = 0, _showCursor = false, _resetReveal = true, _loop = false, _fade = false, _cursor = '|' } = {}) 
    {
        var textInstance = document.getElementById(_textName);
        var hasTextBox = textInstance != null;
        var isRunning = true;
        if (hasTextBox)
        {
            var typedText = new Typed('#' + _textName, 
            {
                stringsElement: '#' + _textName + 'Strings',
                typeSpeed: 20,
                backSpeed: 10,
                startDelay: _startDelay,//firstLoad ? _startDelay : 0,
                shuffle: false,
                cursorChar: _cursor,
                showCursor: _showCursor,
                loop: _loop,
                loopCount: Infinity,
                smartBackspace: true,
                fadeOut: _fade,
                contentType: 'html',
                onDestroy: (self) => 
                {
                    self.startDelay = 0;//Prevents the delay from being added to the start of the next loop
                },
            });
            firstLoad = false;
            //console.log('Typed Text Found');
            ScrollReveal().reveal(textInstance.parentElement, 
            {
                interval: 0,
                delay: 0,
                reset: _resetReveal,
                duration: 0,
                afterReset: function (el)
                {
                    if(isRunning && _resetReveal)
                    {                           
                        //typedText.startDelay = 0;
                        console.log("Reveal Reset");
                        typedText.destroy();//typedText.stop();//typedText.reset(false);
                        isRunning = false;
                    }
                },
                beforeReveal: function (el)
                {
                    if(!isRunning && _resetReveal)
                    {
                        //typedText.startDelay = 0;
                        isRunning = true;
                        console.log("Reveal Start");
                        typedText.reset(true);
                        typedText.start();

                    }
                },
            });
        }
    }
    function IsHardwareAccelerationEnabled() 
    {
        const canvas = document.createElement('canvas');
        let gl = canvas.getContext('webgl') || canvas.getContext('experimental-webgl');
        if (!gl) 
        {
            return false; // WebGL is not supported
        }
        
        const debugInfo = gl.getExtension('WEBGL_debug_renderer_info');
        if (!debugInfo) 
        {
            return false; // Unable to get debug info
        }
        
        const renderer = gl.getParameter(debugInfo.UNMASKED_RENDERER_WEBGL);
        return !/swiftshader/i.test(renderer); // Returns false if "SwiftShader" is detected
    }
    function SetInnerHTMLBasedOnBool(containerId, innerHTML, shouldDisplay) 
    {
        const container = document.getElementById(containerId);
        if (shouldDisplay) {
            container.innerHTML = innerHTML;
        } else {
            container.innerHTML = '';
        }
    }
    // Example usage
    // const showSpline = true; // Change this to false to hide the element
    // const splineHTML = `
    //   <spline-viewer id="spline_hero" class="spline_cover" url="https://prod.spline.design/hQ8HSnvTRVmMWZBu/scene.splinecode"></spline-viewer>
    // `;
    // SetInnerHTMLBasedOnBool('splineContainer', splineHTML, showSpline);
</script>
<script> 
const hardwareAccelerationEnabled = IsHardwareAccelerationEnabled();
console.log("Hardware Acceleration Enabled:", hardwareAccelerationEnabled);
</script>