
<footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
        try {
            $('iframe .iframe__bottom').each(function(){
                $(this).css("display", "none");
            });
        } catch (error) {
            console.error('An error occurred:', error);
        }
    });
    </script>
<span class="copyright-license-text">
  <a class="copyright-license-text" href="https://www.dencho.dev" target="_blank" rel="noopener noreferrer">
    <p class="copyright-license-text">
      © 2024 Dennis, Dencho, Denchyaknow</a>
    </p>
  </span>
  
  <script>
    //This is Custom code Dencho added in to hide the "Powered by" text
    // Wait for the DOM to be fully loaded
    document.addEventListener("DOMContentLoaded", function() {
      // Find all elements with the class "powered-by"
      const poweredByElements = document.querySelectorAll('.powered-by');
      
      // Hide or delete each element
      poweredByElements.forEach((element) => {
        //element.style.display = 'none';
        element.remove();
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

  <script>
    particlesJS.load('particles-js', 'assets/particlesjs-config1.json', function() {
    console.log('callback - particles.js config loaded');
  });
  </script>
  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script-->
  <!--Causes Navbar visual error-->
  <!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"-->
  <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/-->
  <!--Scroll Reveal stuff-->
  <script src="https://unpkg.com/scrollreveal"></script>
  <!--Animate.CSS stuff-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <!--Spline Stuff-->
  <script type="module" src="https://unpkg.com/@splinetool/viewer@1.3.5/build/spline-viewer.js"></script>

  <script>
      document.addEventListener('DOMContentLoaded', function() {
      setTimeout(function() {
        // Select all spline-viewer elements
        const elements = document.querySelectorAll('spline-viewer');
        
        elements.forEach(element => {
          if (element) {
            // Hide #logo element
            const childA = element.shadowRoot ? element.shadowRoot.querySelector('#logo') : element.querySelector('#logo');
            if (childA) {
              console.log('childA found');
              childA.remove();
            }

            // Hide #hints element
            const childB = element.shadowRoot ? element.shadowRoot.querySelector('#hints') : element.querySelector('#hints');
            if (childB) {
              console.log('childB found');
              childB.remove();//.style.display = 'none';
            }
            
            // Hide #preloader element
            const childC = element.shadowRoot ? element.shadowRoot.querySelector('#preloader') : element.querySelector('#preloader');
            if (childC) {
              console.log('childC found');
              childC.remove();//.style.display = 'none';
            }
          }
        });
      }, 200); // Adjust the delay as needed
    });
    // Make all splineviewer responsive to height correctly
    function addHeightToAllShadowRoots() {
    // Select all spline-viewer elements
    const elements = document.querySelectorAll('spline-viewer');
    
    elements.forEach(element => {
      if (element) {
        console.log('element found');
        if (element.shadowRoot) {
          const cont = element.shadowRoot.querySelector('#container');
          if (cont) {
            console.log('cont found');
            cont.style.height = '100%';
          }
        }
      }
    });
  }

  // Call the function when the page is loaded
  window.addEventListener('DOMContentLoaded', addHeightToAllShadowRoots);



    // const boxes = document.querySelectorAll('.btn');
    // boxes.forEach(box => 
    // {
    //   //Initialization
    //   if(!box.classList.contains('animate__animated'))//If no animate class on button add it.
    //     box.classList.add('animate__animated');
    //     // const boxSelector = box.querySelector('img');
    //     // if(boxSelector)
    //     //   boxSelector.classList.add('animate__hidden');
    //       //boxSelector.classList.add('animate__animated','animate__fadeOut', 'animate__fast');

    //   //Do this on MouseEnter buttons
    //   box.addEventListener('mouseover', function() 
    //   {
    //     this.classList.remove('animate__flipInX');
    //     var figure = this.querySelector('figure');
    //     if(figure && figure.classList.contains('animate__hidden'))
    //     {
    //       figure.classList.remove('animate__hidden');
    //     }
    //     const selector = this.querySelector('img');
    //     if(selector)//Turn on Selector 
    //     {
    //       if(!selector.classList.contains('animate__animated'))
    //       {
    //         selector.classList.add('animate__animated');
    //         //selector.classList.remove('animate__hidden');
    //       }
    //       selector.classList.remove('animate__fadeOut', 'animate__fast');
    //       selector.classList.add('animate__heartBeat', 'animate__infinite', 'animate__fast');
    //     }

    //     const imgElement = this.querySelector('i');
    //     if (imgElement) 
    //     {
    //       imgElement.classList.add('animate__animated');
    //       imgElement.classList.add('animate__wobble');
    //       imgElement.classList.add('animate__infinite');
    //     }
    //   });
    //   //Do this on MouseExit buttons
    //   box.addEventListener('mouseout', function() 
    //   {
    //     const selector = this.querySelector('img');
    //     if(selector)//Turn off Selector
    //     {
    //       selector.classList.remove('animate__heartBeat', 'animate__infinite', 'animate__fast');
    //       selector.classList.add('animate__fadeOut', 'animate__fast');
    //     }
    //     const imgElement = this.querySelector('i');
    //     if (imgElement) 
    //     {
    //       imgElement.classList.remove('animate__animated');
    //       imgElement.classList.remove('animate__wobble');
    //       imgElement.classList.remove('animate__infinite');
    //     }
    //   });
    //   //Do this on MouseDown on buttons
    //   box.addEventListener('click', function() 
    //   {
    //     const selector = this.querySelector('img');
    //     if(selector)//Turn off Selector
    //     {
    //       selector.classList.remove('animate__heartBeat', 'animate__infinite', 'animate__fast');
    //       selector.classList.add('animate__fadeOut', 'animate__fast');
    //     }
    //     const imgElement = this.querySelector('i');
    //     if (imgElement) 
    //     {
    //       imgElement.classList.remove('animate__animated', 'animate__wobble', 'animate__infinite');
    //       //imgElement.classList.remove('animate__wobble');
    //       //imgElement.classList.remove('animate__infinite');
    //     }
    //     this.classList.remove('animate__flipInX');
    //     this.classList.add('animate__bounceOutLeft');
    //     this.classList.add('animate__faster');
    //     setTimeout(() => 
    //     {
    //       this.classList.remove('animate__bounceOutLeft');
    //       this.classList.remove('animate__faster');
    //       this.classList.add('animate__flipInX');
    //       this.classList.add('animate__fast');

    //       setTimeout(() => 
    //       {
    //         this.classList.remove('animate__flipInX');
    //         this.classList.remove('animate__fast');
            
    //       }, 800);
    //     }, 1200);
    //   });
    // });

    //document.querySelectorAll('.btn').classList.add('animate__animated', 'animate__wobble'); //'animate__repeat-3'
    //.addEventListener('mouseout', function() {
    //     this.classList.remove('wobble');
    // });

    ScrollReveal({ reset: true });

    var nodeList = document.querySelectorAll('.reButton');
    console.log(nodeList.length + ' reButtons found.');
    // ScrollReveal().reveal(nodeList);
    // var nodeArray = [
      //     document.querySelector('.reButton'),
      //     document.querySelector('#spoon'),
      //     document.querySelector('#ice-cream')
      // ];
      
    //var node = document.querySelector('.reButton');
    ScrollReveal().reveal(nodeList, { interval: 250 });
    //ScrollReveal().reveal(nodeArray);



    // function OnAfterReset (el) {
    //   el.classList.remove('animate__fadeOutRight');
    // }
    // function OnBeforeReset (el) {
    //   el.classList.remove('animate__fadeOutRight');
    // }

    // ScrollReveal().reveal('.reButton', { delay: 0,  rotate: {
    //   // afterReset: OnAfterReset,
    //   // beforeReset: OnBeforeReset,
    //     x: 0,
    //     //y: 100,
    //     //z: 20
    //   },
    //   // distance: '50px',
    //   // easing: 'cubic-bezier(0, 0, 1, 1)',
    //   // interval: 250,
    //   // opacity: 0,// Start invis
    //   // origin: 'right',
    //   // scale: 1.2,
    //   // viewOffset: {
    //   //   left: -62
    //   // },
    // //easing: 'steps(60)',
    //   // 'ease'
    //   // 'ease-in'
    //   // 'ease-in-out'
    //   // 'ease-out'
    //   // 'step-start'
    //   // 'step-end'
    //   // 'steps()'
    //   // 'cubic-bezier()'
    //   duration: 200
    // });
    // ScrollReveal().reveal('.reText', { delay: 200,  rotate: {
    //     x: 20,
    //     z: -90
    //   },
    //   duration: 800
    // });
    //document.addEventListener('DOMContentLoaded', function() {        
    //});
  </script>

</footer>