
<footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
        try {
            $('iframe .iframe__bottom').each(function(){
                $(this).css("display", "none");
            });
        } catch (error) {
            console.error('An error occurred:', error);
        }
    });
    </script>
<span class="copyright-license-text">
  <a class="copyright-license-text" href="https://www.dencho.dev" target="_blank" rel="noopener noreferrer">
    <p class="copyright-license-text">
      © 2024 Dennis, Dencho, Denchyaknow</a>
    </p>
  </span>
  
  <script>
    //This is Custom code Dencho added in to hide the "Powered by" text
    // Wait for the DOM to be fully loaded
    document.addEventListener("DOMContentLoaded", function() {
      // Find all elements with the class "powered-by"
      const poweredByElements = document.querySelectorAll('.powered-by');
      
      // Hide or delete each element
      poweredByElements.forEach((element) => {
        //element.style.display = 'none';
        element.remove();
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

  <script>
    particlesJS.load('particles-js', 'assets/particlesjs0.json', function() {
    console.log('callback - particles.js config loaded');
  });
  </script>
</footer>