<script>
    var fadeOutDelay = 25000;
    var scrollUnlockDelay = fadeOutDelay + 250;
    function ShowHideMasks() {
        var masks = document.querySelectorAll('#section-markdown');
        masks.forEach(element => {
            element.classList.add('hidden');
        });
        setTimeout(() => {
            masks.forEach(element => {
                element.classList.remove('hidden');
            });
        }, fadeOutDelay); 
    }
    document.addEventListener("DOMContentLoaded", function() {        
        var longLoading = document.getElementById('longLoadingScreen') != null;
        if(longLoading) {
            fadeOutDelay *= 5;
            console.log('Long Loading Screen Detected');
            scrollUnlockDelay = fadeOutDelay + 250;
        }
        ShowHideMasks();
        //Disable Scrolling
        document.body.style.overflow = 'hidden';
        setTimeout(() => {
            const loadingScreen = document.getElementById('loadingScreen');
            loadingScreen.classList.add('hidden');
        }, fadeOutDelay); // Adjust this delay as needed
        setTimeout(() => {
            document.body.style.overflow = '';
        }, scrollUnlockDelay);
    });
</script>
<div id="loadingScreen" >
    <div id="loadingBack"></div> 
    <div id="loadingLogo"></div> 
    <div id="loadingTextBox">
        <div id="loadingText-strings">
            <p>
                >> Initializing system.^50.^50.^50 [OK] System Ready^200 <br>
                >> Connecting to Server^200.^200.^200.^200. [OK] Successful^200 <br>
                >> User Status:^200 [OK] Encrypted 🔐^200 <br>
                >> 💀 Scanning for Baddies^500.^400.^300.^200. Squeaky Clean^200 <br>
                >> Loading Artificial Rizz.^100.^100.^100. [OK] Done!^200 <br>
                >> Caching AI Swag:^400 Completed <br>
            </p>
            <p>
                >> Initializing hoes.^50.^50.^50 [OK] System Ready^200 <br>
                >> Connecting to lord Pimp^200.^200.^200.^200. [OK] Successful^200 <br>
                >> User Hoeness:^200 [OK] Encrypted 🔐^200 <br>
                >> 💀 Scanning for Baddies^500.^400.^300.^200. Squeaky Clean^200 <br>
                >> Loading Artificial Rizz.^100.^100.^100. [OK] Done!^200 <br>
                >> Caching AI Swag:^400 Completed <br>
            </p>
        </div>
        <span id="loadingText"></span>
    </div>
</div>