<script>
    var fadeOutDelay = 1250;
    var scrollUnlockDelay = fadeOutDelay + 250;
    
    function ShowHideMasks() {
        var masks = document.querySelectorAll('#section-markdown');
        masks.forEach(element => {
            element.classList.add('hidden');
        });
        setTimeout(() => {
            masks.forEach(element => {
                element.classList.remove('hidden');
            });
        }, fadeOutDelay); 
    }
    document.addEventListener("DOMContentLoaded", function() {        
		  		      ShowHideMasks();
            //Disable Scrolling
            document.body.style.overflow = 'hidden';
                setTimeout(() => {
                const loadingScreen = document.getElementById('loadingScreen');
                loadingScreen.classList.add('hidden');
                }, fadeOutDelay); // Adjust this delay as needed
                setTimeout(() => {
                    document.body.style.overflow = '';
                }, scrollUnlockDelay);

if(document.getElementById('loadingScreenTrigger') != null)
        {
            
            }
            else
            {
                //const loadingScreen = document.getElementById('loadingScreen');
                //loadingScreen.remove();//classList.add('hidden');
            }
        });
</script>
<div id="loadingScreen" >
    <div id="loadingBack"></div> 
    <div id="loadingLogo"></div> 
</div>